/* Reset Css */

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* font-family: 'Lato', sans-serif; */
}

#wrapper {}


/* Begin: Header */

#header {
    height: 46px;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}


/* Begin: Nav */

#nav {
    list-style: none;
}

#nav>li {
    display: inline-block;
    font-size: 2rem;
    position: relative;
    height: 46px;
}

#nav>li>a {
    color: blue;
    text-decoration: none;
    line-height: 46px;
    font-size: 1.5rem;
    padding: 0 24px;
    font-weight: bold;
    width: 100%;
}

#nav>li>a {
    text-transform: uppercase;
}

#nav>li:hover>a {
    color: black;
    background-color: lightblue;
    display: inline-block;
    height: 46px;
}


/* End: Nav */


/* End: Header */

.line-letter {
    display: inline-block;
}

h1 {
    font-size: 20x;
    color: black;
}

.main {
    margin-top:20px;
}
.avatar {
    float: left;
    margin-right: 20px;
}

.info {}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.6rem;
}