/* PC */

@media (min-width: 1023px) {
    #header .menu-button {
        display: none;
    }
}


/* Tablet */

@media (min-width: 739px) and (max-width: 1023px) {
    #content .content-session {
        max-width: 100%;
        padding: 64px 16px;
    }
    #header .menu-button {
        display: none;
    }
}


/* Mobile */

@media (max-width: 739px) {
    #header {
        overflow: hidden;
    }
    #nav>li {
        display: block;
    }
    #nav>li:nth-child(1) {
        display: inline-block;
    }
    #header .search-button {
        display: none;
    }
    #header .menu-button {
        color: white;
        background-color: black;
        font-size: 24px;
        line-height: 46px;
        font-weight: 300;
        padding: 0 21px;
    }
    #header .menu-button:hover {
        opacity: 0.8;
    }
    #slider .text-slider {
        display: none;
    }
    #content .content-session {
        max-width: 100%;
        padding: 64px 16px;
    }
    #content .band-member {
        flex-direction: column;
    }
    .place-list {
        flex-direction: column;
    }
    .btn {
        width: 100%;
        text-align: center;
        -webkit-appearance: none;
    }
    .contact-note {
        margin-top: 16px;
    }
    .contact-item {
        flex-direction: column;
        margin-bottom: 16px;
    }
    .contact-note-first {
        flex-direction: column;
    }
    .contact-form:nth-child(1) {
        padding-bottom: 8px;
    }
    .contact-form .form-control {
        width: 100%;
    }
}